@charset "UTF-8";
.container-fluid .navbar-header{
	background-color: white;
}
section {
	width: 100%;
	height: 100%;
}

section article, section iframe {
	width: 100%;
	height: 800px;
	width:100%; 
	overflow-x:hidden;  
	overflow-y:hidden;
}
.carousel-inner img {
	width: 100%;
	height: 500;
}
a {
	text-decoration: none;
}
* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
	/* width: 1200px; */
	margin: 0 auto;
}

.logo {
	margin: 50px 0;
	font-size: 30px;
	text-align: center;
	font-family: 'Nanum Brush Script', cursive;
}

.topMenu {
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	height: 40px;
	cursor: Default;
}
.topMenu:after {
	content: "";
	display: block;
	clear: both;
}
.menu02 {
	cursor: pointer;
}
.menu01>li {
	float: left;
	width: 20%;
	line-height: 40px;
}

.menu01 span {
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.dept01 {
	display: none;
	padding: 20px 0;
}

.nop {
	float: none;
	color: white;
}
.nop a {
	float: none;
	color: white;
}

.none:after {
	content: "";
	display: block;
	clear: both;
}
footer {
	text-align: center;
	height: 100px;
	padding: 100px;
}

* {margin: 0; padding: 0; }
li {list-style: none; }
body {font-family: 'Nanum Gothic', sans-serif; margin: 0 auto; }
            
.logo {margin: 50px 0; font-size: 30px; text-align: center; font-family: 'Nanum Brush Script', cursive; }
            
.topMenu {width: 100%; margin-bottom: 20px; text-align: center; height: 40px; }
.topMenu:after {content: ""; display: block; clear: both; }
.menu01>li {float: left; width: 20%; line-height: 40px; }
.menu01 span {font-size: 20px; font-weight: bold; }
            
.dept01 {display: none; padding: 20px 0;}
            
#nop {float: none; }
            
.none:after {content: ""; display: block; clear: both; }
.navbar-form {
    border-color: white;
  }